html
head
    title Gallery
    link(rel='stylesheet' href='../styles.css')
body
    include ./header

    div#main
        h1 Welcome to the gallery!
        br

        #left.column.left
            each artwork in gallery
                a(href=`/gallery/${artwork["name"]}`) #{artwork["name"]}
                br
            br

            if (page > 1)
                a(href=`/gallery?page=${page - 1}`)
                    button Back
                p 
            if (page < (artCount / size))
                a(href=`/gallery?page=${parseInt(page) + 1}`)
                    button Next