html
head
    title Workshop
    link(rel='stylesheet' href='../../styles.css')
body
    .header
        a(href="/")
            button Home
        | 
        button#profileButton.profileButton User profile
        | 
        a(href="/users") 
            button Users
        | 
        a(href="/artists") 
            button Artists
        | 
        a(href="/gallery") 
            button Art Gallery
        | 
        a(href="/login") 
            button Login
        | 
        button#logoutButton.logoutButton Logout

    script(src='../../logoutButton.js')
    script(src='../../profileButton.js')

    div#main
        h1 Welcome to #{workshop["name"]} workshop!
        br

        .left.column.left 
            if (workshop["participants"].length > 0)
                h2 Here are all the participants: 
                ul
                    each participant in workshop["participants"]
                        li
                            a(href=`/users/${participant["username"]}`) #{participant["username"]}
            else 
                h2 There are not yet any users registered in this workshop